
body {
  background-color: #130f40;
  font-family:  ;
  padding: 3.5px 25px;
  font-size: 18px;
  color: #6ab04c ;
}



canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px inset #f0932b;
}

h1{
  text-align: center;
  color: #badc58;
}

h3{
  padding-left: 20%;
  color: #badc58;
}

ul{
  list-style: bullet;
  padding-left: 20%;
}
 p{
   text-align: center;
 }
